:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --timer-border-color: #000000;
    --timer-box-shadow-color: #ffffff;
    --button-background-color: #30a05f;
    --button-text-color: #ffffff;
    --button-hover-background: #ffffff;
    --button-hover-text: #30a05f;
    --reset-button-background: #a04130;
    --reset-button-hover-text: #a04130;
    --dark-mode-button: #434343;
    --dark-mode-button-text: #ffffff;
}

.dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
    --timer-border-color: #ffffff;
    --timer-box-shadow-color: #121212;
    --button-background-color: #1f8642;
    --button-text-color: #000000;
    --button-hover-background: #000000;
    --button-hover-text: #1f8642;
    --reset-button-background: #7f2b1e;
    --reset-button-hover-text: #7f2b1e;
    --dark-mode-button: #ffffff;
    --dark-mode-button-text: #000000;
}

body {
    background-color: var(--background-color, #ffffff);
    color: var(--text-color, #000000);
}

#dark-mode-button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    background-color: var(--dark-mode-button,#43423f);
    color: var(--dark-mode-button-text, white);
    border: 2px solid var(--text-color, #ffffff);
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#dark-mode-button:hover {
    background-color: #a9a7a7;
    color: var(--dark-mode-button-text);
}


h1 {
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.timer {
    height: 235px; 
    width: 235px;
    border-radius: 50%;
    margin: 0 auto 30px;
    position: relative; 
    background: conic-gradient(#43423f 100%,var(--text-color, white) );
    box-sizing: border-box; 
    border: 5px solid var(--timer-border-color, #000); 
    box-shadow: inset 0 0 0 5px var(--timer-box-shadow-color, #fff);
}

#countdown {
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#start-stop-button {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px 40px;
    color: var(--button-text-color, #ffffff);
    background-color: var(--button-background-color, #30a05f);
    border: 2px solid var(--text-color, #ffffff);
    border-radius: 50px;
    letter-spacing: 2px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#start-stop-button:hover {
    background-color: var(--button-hover-background, #ffffff);
    color: var(--button-hover-text, #30a05f);
}

#reset-button {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px 40px;
    color: var(--button-text-color, #ffffff);
    background-color: var(--reset-button-background, #a04130);
    border: 2px solid var(--text-color, #ffffff);
    border-radius: 50px;
    letter-spacing: 2px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    margin-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#reset-button:hover {
    background-color: var(--button-hover-background, #ffffff);
    color: var(--reset-button-hover-text, #a04130);
}
